{% extends 'base.html.twig' %}

{% block title %}
	{% if is_edit %}Modifier la tâche{% else %}Nouvelle tâche
	{% endif %}
	- TaskLinker
{% endblock %}

{% block page_title %}
	{% if is_edit %}Modifier la tâche{% else %}Nouvelle tâche
	{% endif %}
{% endblock %}


{% block body %}
	{% if is_edit %}
		<a href="{{ path('task_show', {id: task.id}) }}" class="back-link">&larr; retour</a>
	{% else %}
		<a href="{{ path('project_list') }}" class="back-link">&larr; retour</a>
	{% endif %}
	<form name="tache" method="post">
		{{ form_start(form) }}
		<div class="field">{{ form_row(form.title) }}</div>
		<div class="field">{{ form_row(form.description) }}</div>
		<div class="field">{{ form_row(form.deadline) }}</div>
		<div class="field">{{ form_row(form.status) }}</div>
		<div class="field">{{ form_row(form.assignees) }}</div>
		<button class="button button-submit">{{ is_edit ? 'Enregistrer' : 'Créer' }}</button>
		{{ form_end(form, { render_rest:false }) }}
	</form>
{% endblock %}
