{% extends 'base.html.twig' %}
{% block title %}

	{{ task.title }}- TaskLinker
{% endblock %}

{% block page_title %}
	{{ task.title }}
{% endblock %}

{% block body %}
	<div class="task-detail-container">
		<a href="{{ path('project_show', {id: task.project.id}) }}" class="back-link">&larr; retour</a>
		<div class="task">
			<h3>{{ task.title }}</h3>
			<p>{% set desc = task.description ?? '' %}{{ desc|default('Pas de description.') }}</p>
			<div class="task-infos task-details">
				{% if task.deadline %}
					<div class="task-deadline">
						<i class="fa-regular fa-calendar"></i>
						Deadline :
						{{ task.deadline|date('d/m/Y H:i') }}
					</div>
				{% endif %}
				{% if task.assignees is not empty %}
					<div class="assignees d-flex">
						{% for person in task.assignees %}
							<div class="mini-user" title="{{ person.firstName }} {{ person.lastName }}">
								{{ person.firstName|slice(0,1) }}{{ person.lastName|slice(0,1) }}
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="assignees none">Non assignée</div>
				{% endif %}
			</div>
			<div class="task-extra">
				<div class="task-status mt-2">Statut :
					{{ task.status.value }}</div>
				<div class="task-project mt-2">Projet :
					<a href="{{ path('project_show', {id: task.project.id}) }}">{{ task.project.name }}</a>
				</div>
			</div>
			<div class="task-actions">
				<a href="{{ path('task_edit', {id: task.id}) }}" class="button">Modifier</a>
				<a href="{{ path('task_delete', {id: task.id}) }}" class="button js-delete-task" data-confirm="Supprimer la tâche '{{ task.title }}' ?">Supprimer</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module" src="{{ asset('js/DeleteTask.js') }}"></script>
{% endblock %}
